absl-py==0.8.1
astor==0.8.0
certifi==2019.9.11
chardet==3.0.4
gast==0.2.2
google-pasta==0.1.7
gpt-2-simple==0.6
grpcio==1.24.3
h5py==2.10.0
idna==2.8
numpy
oauthlib==3.1.0
opt-einsum==3.1.0
protobuf==3.10.0
python-dotenv==0.10.3
regex==2019.8.19
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
tensorboard==1.15.0
tensorflow==2.5.0
tensorflow-estimator==1.15.0
termcolor==1.1.0
toposort==1.5
tqdm==4.36.1
tweepy
urllib3==1.25.6
wrapt==1.11.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
PySocks==1.7.1
Werkzeug
argparse
